<!--Jinja2 template for the CODA dashboard.-->
<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CODA dashboard</title>
        <!--Ubuntu font from Google Fonts-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap">
        <link rel="stylesheet" href="vanilla-framework.css">
        <!--custom CSS overrides-->
        <link rel="stylesheet" href="style.css">
    </head>
        <body>
            <header id="navigation" class="p-navigation is-dark">
               <!-- <div class="p-navigation__row--25-75">-->
                    <!-- Banner (25%) -->
                    <div class="p-navigation__banner">
                        <div class="p-navigation__tagged-logo">
                            <a class="p-navigation__link" href="#">
                                <div class="p-navigation__logo-tag">
                                    <img class="p-navigation__logo-icon" src="https://assets.ubuntu.com/v1/82818827-CoF_white.svg" alt="">
                                </div>
                                <span class="p-navigation__logo-title">CODA dashboard</span>
                            </a>
                        </div>

                        <!-- Mobile menu toggle -->
                        <button class="p-navigation__toggle--open" onclick="this.classList.toggle('is-open'); document.querySelector('.p-navigation__nav').classList.toggle('is-open')">
                            ☰
                        </button>
                    </div>
                    
                    <!-- Nav (75%) - inside the row -->
                    <nav class="p-navigation__nav" aria-label="Main navigation">
                        <ul class="p-navigation__items">
                            <li class="p-navigation__item">
                                <a class="p-navigation__link" href="https://github.com/canonical/open-documentation-academy">GitHub</a>
                            </li>
                            <li class="p-navigation__item">
                                <a class="p-navigation__link" href="https://documentation.academy/docs/howto/get-started/">Contributor guide</a>
                            </li>
                            <li class="p-navigation__item">
                                <a class="p-navigation__link" href="https://documentation.academy/projects/">Participating projects</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>

            <div class="row">
                <div class="col u-align--center">
                        <div class="p-chip">
                            <span class="p-chip__lead">Total open issues</span>
                            <span id="issue-count" class="p-chip__value">{{ issue_count }}</span> <!--Jinja expression to show number of issues passed from the build script-->
                            </div>
                    {% if issue_count == 0 %}
                        <p>There are no open issues.</p> <!--Jinja conditional to show a message if there are no issues-->
                    {% endif %}
                </div>
            </div>

            <!--Add filters-->
            <nav class="p-form--inline">
                <div class="p-form__group" class="p-form__control">
                    <label for="project"></label>
                    <select name="project-filter" id="project">
                        <option value="all">All projects</option>
                        {% for repo in repos %}
                        <option value="{{ repo }}">{{ repo }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="p-form__group" class="p-form__control">
                    <label for="label"></label>
                    <select name="label-filter" id="label">
                        <option value="all">All labels</option>
                        {% for label in labels %}
                        <option value="{{ label }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="p-form__group" class="p-form__control">
                    <label for="assignment"></label>
                    <select name="assignment-filter" id="assignment">
                        <option value="all">Status</option>
                        <option value="assigned">assigned</option>
                        <option value="unassigned">unassigned</option>
                    </select>
                </div>

                <div class="p-form__group">
                    <label for="clear-filters">&nbsp;</label>
                    <button id="clear-filters" class="p-button-neutral">Clear filters</button>
                </div>
            </nav>

            <main class="issues-grid">
            <!--Loop through every issue and print the number, title, description and meta info, e.g. assignee and date created.-->
                {% for issue in issues %}
                        <div class="issue-card">
                            <h2><a href="{{ issue.html_url }}">#{{ issue.number}} {{ issue.title }}</a></h2> <!--Jinja expression to show the issue number and title as a link to the issue URL (browser URL, not API url, i.e. issue.url)-->

                        <!--Display project tag-->
                        <div class="issue-tags">
                            <button class="p-chip--caution">
                                <span class="p-chip__value">
                                    {{ issue.repository_url.split('/')[-1] }} <!--Jinja expression to show the project name (repository name) by splitting the repository URL and taking the last part-->
                                </span>
                            </button>
                        </div>

                        <!--Show issue meta information (assignee)-->
                        <div class="issue-meta">
                        {% if issue.assignee %}
                            <button class="p-chip--positive">
                                <span class="p-chip__lead">Assignee: {{issue.assignee.login}}</span>  <!--Nested expression to show the assignee's login name (username?)-->
                            </button>   
                        {% endif %}
                        </div>               

                        <!--Show issue description-->

                        <div class="issue-description">
                            <p>{{ issue.body_truncated | safe }}</p>

                        <!--Vanilla CTA block - read more-->
                        <a href="{{ issue.html_url }}" class="p-cta-block">Read more ›</a>                   
                        </div>

                        <!--Display label tags-->
                        <div>
                            {% for label in issue.labels %}
                            <button class="p-chip">
                                <span class="p-chip__value">{{ label.name }}</span>
                        </button>
                            {% endfor %}
                        </div>
                        </div>
                    </div>
                {% endfor %}
            </main>
            <script src="filters.js"></script>
        </body>
</html>
