<!--Jinja2 template for the CODA dashboard.-->
<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CODA dashboard</title>
        <link rel="stylesheet" href="style.css">
    </head>
        <body>
            <header>
                <h1>{{ title }}</h1>    <!--Replace title with a Jinja variable/expression (prints a value)-->
                <p>Total open issues: {{ issue_count }}</p> <!--Jinja expression to show number of issues passed from the build script-->
                <!--Add conditionals.-->
                {% if issue_count == 0 %}
                    <p>There are no open issues.</p> <!--Jinja conditional to show a message if there are no issues-->
                {% endif %}
            </header>

            <main>
            <!--Loop through every issue and print the number, title, description and meta info, e.g. assignee and date created.-->
            {% for issue in issues %}
            <div class="issue-card">
                <h2><a href="{{ issue.html_url }}">#{{ issue.number}} {{ issue.title }}</a></h2> <!--Jinja expression to show the issue number and title as a link to the issue URL (browser URL, not API url, i.e. issue.url)-->
            </div>

            <div class="issue-description">
                {% if issue.body %}
                <p>{{ issue.body }}</p>
                {{ issue.body[:200] }} {% if issue.body|length > 200 %}...{% endif %}  <!--Jinja expression to show the first 200 characters of the issue body/description and add ellipsis if it's longer. |length is a Jinja2 filter that returns the length of a string-->
                {% else %}
                <p>No description provided.</p>
                {% endif %}
            </div>

            <div class="issue-meta">
                {% if issue.assignee %}
                    <span class="assignee">{{issue.assignee.login}} </span>    <!--Nested expression to show the assignee's login name (username?)-->
                {% endif %}
                <span class="date-created">{{issue.created_at[:10]}}</span></div> <!--Shows date issue was created in YYYY-MM-DD format [:10] is a slicing operation that extracts only the first 10 characters-->
            </div>
            {% endfor %}
            </main>
        </body>
</html>
